/**************************
  Box-sizing
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
***************************/
html {
  box-sizing: border-box;
  background-color: var(--theme-background-color);
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/**************************
  Theme
***************************/
:root{
  --theme-background-color: black;
  --theme-foreground-color: white;
  --theme-highlight-color: yellow;
  --theme-link-hover-color: red;
  --theme-font-size: 2rem;
}

/**************************
  Elements
***************************/
body{
  background-color: var(--theme-background-color);
  color: var(--theme-foreground-color);
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: var(--theme-font-size);
}

section{
  height: 100vh;
  page-break-after: always;
}

/**************************
  Custom Classes
***************************/
.main-title{
  /* NOTE: override background in index.html */
  /* background: url('slides/title/speech-bubble-inverted.png') no-repeat center center; */
  background-size: contain;
}

.banner{
  color: var(--theme-background-color);
  background-color: var(--theme-highlight-color);
  opacity: 0.8;
  width: 100%;
  padding: 0.5em;
  padding-left: 15%;
  padding-right: 15%;
  text-align: left;
  font-size: 4rem;
  font-weight: bold;
  position: relative;
  top: 25%;
}

.subtitle{
  font-size: 3rem;
  font-style: italic;
}

.bio{
  text-align: right;
  font-size: 2rem;
  font-weight: normal;
}
