/**************************
  Box-sizing
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
***************************/
html {
  box-sizing: border-box;
  background-color: var(--theme-background-color);
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/**************************
  Theme
***************************/
:root{
  --theme-background-color: black;
  --theme-foreground-color: white;
  --theme-highlight-color: yellow;
  --theme-link-hover-color: red;
  --theme-font-size: 2rem;
  --theme-font-family-heading: "Times New Roman", Times, serif;
  --theme-font-family-body: Arial, Helvetica, sans-serif;
}

/**************************
  Elements
***************************/
body{
  background-color: var(--theme-background-color);
  color: var(--theme-foreground-color);
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: var(--theme-font-size);
  font-family: var(--theme-font-family-body);
}

figcaption{
  display: none;
}

h2{
  font-size: 5rem;
  padding-top: 1rem;
  font-family: var(--theme-font-family-heading);
}

p{
  width: 80%;
  padding-left: 20%;
  font-size: 2.5rem;
}

section{
  height: 100vh;
  page-break-after: always;
  overflow: hidden;
}

/**************************
  Custom Classes
***************************/
.banner{
  color: var(--theme-background-color);
  background-color: var(--theme-highlight-color);
  opacity: 0.8;
  width: 100%;
  padding: 0.5rem;
  padding-left: 15%;
  padding-right: 15%;
  text-align: left;
  font-size: 4rem;
  font-weight: bold;
  font-family: var(--theme-font-family-heading);
  position: relative;
  top: 25vh;
}

.bio{
  text-align: right;
  font-size: 2rem;
  font-weight: normal;
  font-family: var(--theme-font-family-heading);
}

.bio a{
  color: var(--theme-background-color);
  text-decoration: none;
}

.bio a:hover{
  color: var(--theme-link-hover-color);
}

.contain{
  height: 100vh;
  object-fit: contain;
}

.contain-with-header{
  height: 65vh;
  object-fit: contain;
}

.display{
  display: block;
}

.half{
  width: 45vw;
}

.highlight{
  color: var(--theme-highlight-color);
}

.left{
  float: left;
}

.main-title{
  /* NOTE: override background in index.html */
  /* background: url('slides/title/speech-bubble-inverted.png') no-repeat center center; */
  /* background-size: contain; */
}

.right{
  float: right;
}

p.right{
  width: 45%;
  padding-left: 0;
  padding-right: 5%;
}

.section-title h2{
  position: relative;
  top: 35vh;
}

.subtitle{
  font-size: 3rem;
  font-style: italic;
}

.theme-invert{
  background-color: var(--theme-foreground-color);
  color: var(--theme-background-color);
}
