/**************************
  Box-sizing
  https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
***************************/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/**************************
  Theme
***************************/
:root{
  --theme-background-color: black;
  --theme-foreground-color: white;
  --theme-highlight-color: yellow;
  --theme-font-size: 1.75em;
}

/**************************
  Elements
***************************/
body{
  background-color: var(--theme-background-color);
  color: var(--theme-foreground-color);
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: var(--theme-font-size);
}

code{
  /* NOTE: background, foreground colors are inverted */
  background-color: var(--theme-foreground-color);
  color: var(--theme-background-color);
  display: inline-block;
  padding: 0.5rem;
  font-family: monospace;
  text-align: left;
  overflow: scroll;
}

h1, h2, h3, h4, h5, h6{
  padding: 1rem 0 0 0;
}

p{
  width: 75%;
}

section{
  height: 100vh;
  page-break-after: always;
}

table{
    margin: auto;
    padding-left: 20%;
    border-collapse: collapse;
    border-spacing: 0;
}

table th, table td{
    text-align: left;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

ul, ol{
  width: 75%;
  text-align: left;
  /* display: inline-block; */
}

ul > li{
  list-style: disc;
  color: var(--theme-foreground-color);
}


/**************************
  Custom Styles
***************************/

/****** title slide ******
NOTE: This is typically included in a <style> in the index.html file,
      since it is a part of the slideshow rather than a generic
      element.
.title-slide{
  background: url('slides/title/img/cloud-1.jpg') no-repeat center center;
  background-size: contain;
}
**************************/
.banner {
  background-color: var(--theme-background-color);
  opacity: 0.7;
  width: 100%;
}

.banner-title {
  text-align: left;
  padding: 0.5rem 10% 0.5rem 10%;
  margin: 0;
}

.banner-title h1 {
  font-size: 3em;
  margin: 0;
}

.banner-title h2 {
  font-size: 1.5em;
  font-style: italic;
  margin: 0;
}

.banner-bio {
  text-align: right;
  padding-right: 10%;
  padding-bottom: 1rem;
}

.banner-bio a{
  color: var(--theme-foreground-color);
}
/****** title slide ******/


.section-title{
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

.theme-white{
  /* NOTE: background, foreground colors are inverted */
  background-color: var(--theme-foreground-color);
  color: var(--theme-background-color);
}

.theme-white li{
  color: var(--theme-background-color);
}

.theme-white code{
  background-color: var(--theme-background-color);
  color: var(--theme-foreground-color);
}

.highlight{
  color: var(--theme-highlight-color);
}
