html, body{
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.75em;
}

h1, h2, h3, h4, h5, h6{
  padding: 1rem 0 0 0;
}

iframe{
  border: none;
  width: 100vw;
  height: 100vh;
}

ul{
  width: 50%;
  text-align: left;
  display: inline-block;
}

ul > li{
  list-style: disc;
  color: white;
}


.slideshow{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slideshow > li{
  width: 100vw;
  height: 100vh;
  page-break-after: always;
}

.slide{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.slide > img{
  /* NOTE: setting width misbehaves on Chrome, Firefox */
  /*width: 100vw;*/
  height: 100vh;
}

.slide aside{
  display: none;
}
