html, body{
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.75em;
}

code{
  width: 75%;
  text-align: left;
  display: inline-block;
  padding: 0.5rem;
  background-color: white;
  color: black;
  font-family: monospace;
  overflow: scroll;
}

figcaption{
  display: none;
}

h1, h2, h3, h4, h5, h6{
  padding: 1rem 0 0 0;
}

img{
  /* max-width: 100%; */
  /* object-fit: contain; */
  object-fit: scale-down;
}

p{
  width: 75%;
  text-align: center;
  padding-left: 12%;
}

section{
  width: 100vw;
  height: 100vh;
  page-break-after: always;
}

table{
    margin: auto;
    padding-left: 20%;
    border-collapse: collapse;
    border-spacing: 0;
}

table th, table td{
    text-align: left;
    padding: 0.2em 0.5em 0.2em 0.5em;
}

ul, ol{
  width: 75%;
  text-align: left;
  display: inline-block;
}

ul > li{
  list-style: disc;
  color: white;
}


/*****************
  Custom styles
*****************/
.slideshow{
  margin: 0;
  padding: 0;
}

/****** title slide ******/
/*************************
NOTE: This is typically included in a <style> in the index.html file,
      since it is a part of the slideshow rather than a generic
      element.
.title-slide{
  background: url('slides/title/img/cloud-1.jpg') no-repeat center center;
  background-size: contain;
}
**************************/
.banner {
  background-color: black;
  opacity: 0.7;
  width: 100%;
}

.banner-title {
  font-size: 1em;
  text-align: left;
  padding: 0.5em;
  padding-left: 20%;
  padding-right: 20%;
}

.banner-title h1 {
  font-size: 1.5em;
  text-transform: none;
  font-weight: bold;
  margin: 0;
}

.banner-title h2 {
  font-size: 1em;
  text-transform: none;
  font-style: italic;
  margin: 0;
}

.banner-bio {
  font-size: 0.5em;
  text-align: right;
  padding-right: 20%;
  padding-bottom: 1em;
}

.banner-bio a{
  color: white;
}
/****** title slide ******/

/****** section title slide ******/
.section-title{
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}
/****** section title slide ******/



.bg-white{
  color: black;
  background-color: white;
}

.bg-white li{
  color: black;
}

.bg-white code{
  background-color: black;
  color: white;
}

.full-height{
  height: 100vh;
}

.full-width{
  width: 100vw;
}

.highlight{
  color: yellow;
}

.side-by-side{
  float: left;
  width: 45%;
  padding-left: 2.5%;
}

.slide-height{
  max-height: 100%;
}

.slide-width{
  height: auto;
  max-width: 100%;
}
