/**************************
  Box-sizing
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
***************************/
html {
  box-sizing: border-box;
  background-color: var(--theme-background-color);
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

::-webkit-scrollbar{
  display:none;
}

/**************************
  Theme
***************************/
:root{
  --theme-background-color: black;
  --theme-foreground-color: white;
  --theme-highlight-color: yellow;
  --theme-link-hover-color: red;
  --theme-font-size: 2em;
  --theme-font-family-heading: Helvetica, Arial, sans-serif;
  --theme-font-family-body:    Helvetica, Arial, sans-serif;
}

/**************************
  Elements
***************************/
body{
  background-color: var(--theme-background-color);
  color: var(--theme-foreground-color);
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: var(--theme-font-size);
  font-family: var(--theme-font-family-body);
}

caption{
  caption-side: bottom;
  padding: 2em 1em 1em 1em;
  text-align: right;
  font-style: italic;
}

code{
  /* NOTE: background, foreground colors are inverted */
  background-color: var(--theme-foreground-color);
  color: var(--theme-background-color);
  display: inline-block;
  padding: 0.5em;
  font-family: monospace;
  text-align: left;
  overflow: scroll;
}

figcaption{
  display: none;
}

figure a{
  color: var(--theme-foreground-color);
  text-decoration: none;
}

h2{
  font-size: 2em;
  padding-top: 1em;
  font-family: var(--theme-font-family-heading);
}

h2 a{
  color: var(--theme-foreground-color);
  text-decoration: none;
}

h2 a:hover{
  color: var(--theme-link-hover-color);
}

p{
  width: 80%;
  padding-left: 20%;
  font-size: 2.5em;
}

section{
  height: 100vh;
  page-break-after: always;
  overflow: hidden;
}

table{
  width: 75%;
  padding-left: 25%;
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.75em;
}

td, th{
  text-align: left;
  vertical-align: top;
  padding: 0.2em 0.5em 0.2em 0.5em;
}

td a, th a{
  color: var(--theme-foreground-color);
  text-decoration: none;
}

td a:after, th a:after{
  content: " \1F517";
  font-size: 1em;
}

td a:hover, th a:hover{
  color: var(--theme-link-hover-color);
}

th{
  border-bottom: 2px solid var(--theme-foreground-color);
  font-style: italic;
}

ul, ol{
  width: 70%;
  padding-left: 30%;
  text-align: left;
}

ul li{
  list-style: disc;
  color: var(--theme-foreground-color);
}


/**************************
  Custom Classes
***************************/
.banner{
  color: var(--theme-background-color);
  background-color: var(--theme-foreground-color);
  opacity: 0.8;
  width: 100%;
  padding: 0.5em;
  position: relative;
  top: 25vh;
}

.banner .bio{
  text-align: right;
  font-size: 1em;
  font-family: var(--theme-font-family-heading);
}

.banner .bio a{
  color: var(--theme-background-color);
  text-decoration: none;
}

.banner .bio a:hover{
  color: var(--theme-link-hover-color);
}

.banner .title-slide{
  /* NOTE: override background in slides/title/index.html */
  /* background: url('slides/title/background-image.png') no-repeat center center; */
  /* background-size: contain; */
}

.banner .title{
  text-align: left;
  font-size: 2em;
  font-family: var(--theme-font-family-heading);
}

.banner .subtitle{
  text-align: left;
  font-size: 1em;
  font-style: italic;
  font-family: var(--theme-font-family-heading);
}


.contain{
  height: 95vh;
  max-width: 95%;
  object-fit: contain;
}

.contain-half{
  height: 45vh;
  max-width: 95%;
  object-fit: contain;
}

.contain-with-header{
  height: 65vh;
  max-width: 95%;
  object-fit: contain;
}

.display{
  display: block;
}

.embiggen{
  font-size: 2em;
}

.half{
  width: 45vw;
}

.highlight{
  color: var(--theme-highlight-color);
}

.left{
  float: left;
}

.outline{
  border: solid 1px black;
  box-shadow: 10px 5px 5px #ccc;
  border-radius: 10px;
}

.right{
  float: right;
}

p.right{
  width: 45%;
  padding-left: 0;
  padding-right: 5%;
}

.section-title h2{
  position: relative;
  top: 35vh;
}

.smaller{
  font-size: 1em;
}

.theme-invert{
  background-color: var(--theme-foreground-color);
  color: var(--theme-background-color);
}

.theme-invert li{
  color: var(--theme-background-color);
}

.theme-invert li a{
  color: var(--theme-background-color);
}

.theme-invert li a:hover{
  color: var(--theme-link-hover-color);
}

.theme-invert code{
  background-color: var(--theme-background-color);
  color: var(--theme-foreground-color);
}

.theme-invert .highlight{
  background-color: var(--theme-highlight-color);
  color: var(--theme-background-color);
}

.theme-invert td a, .theme-invert th a{
  color: var(--theme-background-color);
}

.theme-invert td a:hover, .theme-invert th a:hover{
  color: var(--theme-link-hover-color);
}

.theme-invert th{
  border-bottom: 2px solid var(--theme-background-color);
}

/**************************
  Printing 
***************************/
@media print{
  @page{
    size: letter landscape;
  }
}


